*{
    padding: 0;
    margin: 0;
}
body{
    border: 2px solid red;
    height: 100vh;
}
.main{
    width: 80vw;
    height: 80vh;
    border: 2px solid green;
    margin: 5% auto;
    display: flex;
    flex-direction: column;

}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    border: 2px solid red;
    height: 80% ;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.cards>.Supervisor{
    width: 33%;
    align-self: center;
    border: 2px solid blue;
    height: 50%;
}
